<div class="section" style="background-color:rgb(189,140,137);">
    <div class="container">
        <h2>Liebe Gäste,</h2>
        <p>
            schön, dass Ihr unsere Seite besuchts. Wir freuen uns schon sehr auf die Feier mit Euch.

            Auf dieser Seite finde Ihr auch den Ablaufplan, der sich aktuell noch entwickelt. Dass heißt es lohnt sich hier immer mal vorbei zu schauen. 

            Bitte gebt uns bis zum 01.06.2022 bescheid, ob Ihr teilnehmen möchtet. Du kannst uns über das Kontaktformular oder direkt über unsere Handynummern erreichen. Wir freuen uns sehr auf Euch!!

        </p>
        <p>
            <i>P.S. Für alle Kletterbegeisterten: Neben dem Feierort befindet sich ein Steinbruch, der Liebethaler Grund in dem sich Sportkletterrouten befinden.</i>
        </p>
    </div>
</div>

  
