<nav class="navbar navbar-expand fixed-top navbar-light mt-1 bg-gradient" id="nav">
  <div class="container">
    <button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      data-toggle="collapse"
      data-target="#navbar"
    >
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav bg-light border">
        {% for item in site.data.navbar %}
        <li class="nav-item active border border-bg-secondary">
          <a class="nav-link text-bg-dark px-5 nav-link-loju" href="#{{item.link}}">
            {{ item.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
